%div(style="background:white;min-height:640px;")
  .row
    .span6
      %h4(style="text-align:center") Your Blogs
      %ul(style="text-align:center")
        - current_user.services.map{|s| s if s.provider == "wordpress"}.compact.each do |service|
          %li(style="list-style: none;padding-top:10px;")
            = link_to "View Posts (#{service.uid})", posts_path({blog_id: service.blog_id}),class: "facebook-button span3 offset1", style: "background: whitesmoke;color:#333"
        %li(style="list-style: none;padding-top:10px;")
          = link_to "Add Wordpress Account", user_omniauth_authorize_path({provider: "wordpress"}),class: "facebook-button span3 offset1", style: "background: #1e8cbe"

    .span6
      %h4(style="text-align:center") Your Social networks
      %ul(style="text-align:center")
        %li(style="list-style: none;padding-top:10px;")
          = link_to "Add Facebook Account", user_omniauth_authorize_path({provider: "facebook"}),class: "facebook-button span3"
        %li(style="list-style: none;padding-top:10px;")
          %br
          = link_to "Add Twitter Account", user_omniauth_authorize_path({provider: "twitter"}),class: "twitter-button  span3",style:""
        %li(style="list-style: none;padding-top:10px;")
          %br
          = link_to "Hacker News Account", user_omniauth_authorize_path({provider: "twitter"}),class: "twitter-button span3",style:"background:#ff6600"
        %li(style="list-style: none;padding-top:10px;")
          %br
          = link_to "Add Quora Account", user_omniauth_authorize_path({provider: "twitter"}),class: "twitter-button span3",style:"background:#c41a00"
        %li(style="list-style: none;padding-top:10px;")
          %br
          = link_to "Add Reddit Account", user_omniauth_authorize_path({provider: "twitter"}),class: "twitter-button span3", style:"background:#cee3f8;"
